// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #7a27ff;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #7a27ff !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --text-shadow: 
    0 0 0.033em #fff, 
    0 0 0.08em #fff,
    0 0 0.1em #3291ff, 
    0 0 0.2em #3291ff, 
    0 0 0.3em #3291ff, 
    0 0 1em #3291ff,
    0 0 1.5em #3291ff;
  

  
  // keyframe animation to abruptly toggle
// the letter's opacity value.
@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  72%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  71.999% {
    opacity: 0.33;
  }
}


// only run in dark mode. for every other letter, offset the animation 
// and reverse its direction, so the flickering appears more random.
[data-theme='dark'] .flicker {
  animation: flicker 3s linear forwards alternate infinite;

  &:nth-child(even) {
    animation-delay: 0.3s;
    animation-direction: alternate-reverse;
  }
}

// if the user prefers reduced motion,
// disable the animation entirely.
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
}

