.darkmode {
  float: right;
  padding: 1em;
  min-width: 30px;
  position: relative;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & svg {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    margin: 0 7px;
    fill: var(--gray);
    transition: opacity 0.1s ease;
  }
}

.toggle:checked ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }

   // keyframe animation to abruptly toggle
// the letter's opacity value.
@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  72%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  71.999% {
    opacity: 0.33;
  }
}


// only run in dark mode. for every other letter, offset the animation 
// and reverse its direction, so the flickering appears more random.
[data-theme='dark'] .flicker {
  animation: flicker 3s linear forwards alternate infinite;

  &:nth-child(even) {
    animation-delay: 0.3s;
    animation-direction: alternate-reverse;
  }
}

// if the user prefers reduced motion,
// disable the animation entirely.
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

}

.toggle:not(:checked) ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}
